*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808; 
    color: #fff; 
}
#header{
    width:100%;
    height:115vh;
    background-image: url(images/1723465036250.png);
    background-size:70%;
    background-position:right;
    background-repeat: no-repeat;
}
.container{
 padding: 10px 10px;   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.logo{
    width:350px;
    margin-left: 70px;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e70000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.hi{
    display: flex;
    align-items: center;
    padding: 10px;
}
.Hi{
    width: 25%;
}
.header-text{
    margin-left: 70px;
    margin-top: 18%;
    font-size: 40px;
}
.header-text h1{
    font-size: 68px;
    margin-top: 20px;
}
.header-text h1 span{
color: #d80000;
}
/* ------------------About */
#about{
padding: 80px 0;
color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    margin-left: 60px;
    width: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size:70px;
    font-weight: 600;
    color: #fff;
}
.about-me{
    font-size: 17px;
}
.tab-titles{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.tab-links{
    margin-right: 50px;
    
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color: #ff0000;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}
/*---Contact-----*/
.contact-left{
    flex-basis:35%
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff0000;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    margin-bottom: 15px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
color: #ff004f;
transform: translate(-5px);
}
.btn.btn2{text-decoration:none;
    padding:10px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    background:#e70000 ;
    border-radius: 10px;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
   width: 100%; 
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin: 15px 0;
   color: #fff;
   font-size: 18px;
   border-radius: 6px;

}
.copyright 
{width: 100%;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
}
.project{ color:#ff0000;
text-decoration: none;
}
.project:hover{transform: scale(0.5);
    color: antiquewhite;
    text-decoration: none;
}
/*--------------------css for small Screens width<=600px----------------------*/
nav .fa-solid{
    display:none;
}
@media only screen and (max-width:600px)
{
#header{
    background-image: url(images/phn.png);
    width:100%;
    height:125vh;
    background-size:120%;
    background-position:right;
    background-repeat: no-repeat;
}

.header-text{
    margin-left: 8px;
margin-top: 50%;
font-size: 19px;
}
.header-text h1{margin-right: 140px;
    font-size: 25px;
}
.Hi{margin-right: 220px;
    width: 40%;
}
.logo{
    width:150px;
    margin-left: 15px;
    margin-top: 10px;
}
.hi{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background:#ff0000;
    position: fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top:50px ;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin:25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.about-col-1{
    flex-basis: 94%;
    margin-bottom: 25px;
}
.sub-title{text-align: center;
    font-size:35px;
    font-weight: 550;
    color: #fff;
}
.about-me{text-align:left;
    font-size: 14px;
    
}
.about-col-2{
    margin-left: 24px;
}
.contact-left{
    flex-basis:100%
}
.contact-right{
    flex-basis: 100%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff0000;
    margin-right: 15px;
    font-size: 15px;
}
.social-icons{
    margin-top: 30px;
    margin-bottom: 15px;
}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
color: #ff004f;
transform: translate(-5px);
}
.btn.btn2{ 
    text-decoration: none;
    padding:7px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    background:#e70000 ;
    border-radius: 10px;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
   width: 100%; 
   border: 0;
   outline: none;
   background: #262626;
   padding: 10px;
   margin: 10px 0;
   color: #fff;
   font-size: 15px;
   border-radius: 6px;

}
}
/*---------For Form Submission and message of submission of form-----------*/
#span{
    columns: green;
    margin-top: -10px;
display: block;
}
#msg{
    color: greenyellow;
    margin-top: 20px;
    display: block;
}
/*------------------------For Small Screen 600<width<1000--------------*/
@media only screen and (600px < width < 1000px)
{

}